.container{
    display: flex;
    height: 200px;
    width: 800px;
    background-color: cornflowerblue;
    border: 1px solid gray;
    margin: 20px;
    padding: 10px;
}
.container img{
    float: right;
}
.container .content{
    width: 70%;
}

