button{
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    border:none;
    color: white;
}
button:hover{
    box-shadow:0 12px 16px  gray;
    cursor: pointer;
}