.team .team1{
    color: yellow;
}
.team .team2{
    color: blue;
}
.team .team3{
    color: blanchedalmond;
}
.team .squad1{
    color: gold;
}
.team .squad2{
    color: darkblue;
}
.team .squad3{
    color: dimgrey;
}