.form1 .mail{
    background-color: #e6e2d3;
}
.form1 .pwd{
    background-color: #e6e2d3;
}
.form1 .login{
    background-color: #e6e2d3;
    opacity: 0.5;
}
.title{
    color: navy;
}
.form1 .fname{
    color: navy;
}
